<div class="modal fade" id="showMessageModal" tabindex="-1" role="dialog" aria-labelledby="filmSelectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content bg-notSoDark" id="modal2Body">
            <div id="filmModalRow1" class="modal-body row">
                <div id="filmModalCol1" class="col-12 col-sm-6 d-flex flex-column">
                    <div class="modal-header border-bottom p-0 pb-1 mb-1">
                        <h2 class="modal-title" id="tittelFelt"></h2>
                    </div>

                    <p id="beskrivelse"></p>
                    <p id="aktivDB"></p>
                    <p id="modalSjangere"></p>
                    <p id="modalPris" class=""></p>

                    <div class="mt-auto"></div>
                    <div class="float-left mb-1 ml-1 row">
                        <input type="button" class="btn btn-dark" id="lukkKnapp" data-dismiss="modal" value="Lukk">
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <img class="d-block mx-auto" id="adminBilde" alt="Alternate Text" />
                </div>
            </div>
            <button type="button" class="btn filmModalClose" data-dismiss="modal">&times;</button>
        </div>
    </div>
</div>