<div class="banner mb-3">
    <img class="d-block" src="~/Content/Images/Banner2.jpg" alt="Banner" />
    <div class="text-center">
        <div class="banner-bildetekst">
            <h4>Velkommen til</h4>
            <h1 class="d-sm-none">Holbergs Film</h1>
            <h1 class="storTittel d-none d-sm-block d-xl-none">Holbergs Film</h1>
            <h1 class="ekstraStorTittel d-none d-xl-block">Holbergs Film</h1>
            <p class="d-none d-lg-block">Her hos oss kan du kjøpe filmene du vil se, enkelt, raskt og til en  god pris.</p>
        </div>
    </div>
</div>