@{
    ViewBag.Title = "ContactInformation";
}

<h2>Kontaktinformasjon</h2>
<hr />
<p>Ved ønske om kontakt med utviklerne, send en epost til en av gruppemedlemmenes studentepostadresse.</p>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Navn</th>
            <th scope="col">Studentnummer</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Thomas Arne Dahll</td>
            <td>s170761</td>
        </tr>
        <tr>
            <td>Olav Sørlie</td>
            <td>s309647</td>
        </tr>
        <tr>
            <td>Vegard Skullestad Bjørkgård</td>
            <td>s236352</td>
        </tr>
        <tr>
            <td>Martin Strøm Olsen</td>
            <td>s198225</td>
        </tr>
    </tbody>
</table>