@*
    Benyttes i tilfeller der en enkel message skal vises til brukeren.
*@
@{
    ViewBag.Title = "ShowMessage";
}

<h4 class="mb-5">@ViewBag.Header</h4>

<div class="mt-5 mb-5 text-danger">@ViewBag.Message</div>